
        <div>
            <p> Si le préservatif craque à n'importe quel moment, que devez-vous faire ?</p>
            <br>
            <form>
                <a href="./?p=Win">
                    <input type="button" value="A) Vous faire dépister vous et votre partenaire"> 
                </a>

                <a href="./?p=Consulter">
                    <input type="button" value="B) Ne rien faire, je suppose que mon partenaire et moi sommes sains">
                </a>
            </form>
        </div>
