<script src="./Konami.js"></script>
<script>
    const easterEgg = new Konami("./secret.php")
</script>
        <div>
            <p>Dans cette petite histoire interactive, vous jouerez le rôle de Donatien, un jeune homme de 20 ans.</p>
            <p>Ce soir Donatien a une soirée où il va rejoindre quelques amis à lui.</p>
            <p>Pour commencer les amis de Donatien lui propose un verre de boisson alcolisé:</p>
            <form>
                <a href="./?p=Rencontre">
                    <input type="button" value="A) Donatien accepte les verres"> 
                </a>

                <a href="./?p=Rencontre">
                    <input type="button" value="B) Donatien dit non">
                </a>
            </form>
        </div>
