<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <header> 
        <a href="index.html">Accueil</a>
        <a href="IST.html">IST</a>
        <a href="Contraception.html">Contraceptions</a>
        <a href="Depistage.html">Se Dépister</a>
        <a href="Forum.html">Forum</a>
        <a href="">Sites Utiles</a>
    </header> 

    <body>
        <div>
            <p> Si vous ne pincez pas le réservoir, vous riquez d'abîmer le préservatif et donc un craquage ! </p>
            <br>
            <p> Vous pouvez retenter votre chance !</p>
            
            <form>
                <a href="Proteger.html">
                    <input type="button" value="Retour à la question précédente"> 
                </a>
            </form>
        </div>
    </body>

    <footer>
        <img id="Logo_Universite" src="Logo_universite1.png" alt="Logo université Montpellier non chargé">
        <img id="NDI_logo" src="NDI_logo.jpg" alt="Logo nuit de l'informatique non chargé">
    </footer>
</html>