
        <div>
            <p> Vous utilisez donc un préservatif, mais comment le mettre ?</p>
            </br>
            <p> - Choix A : Ouvrir délicatement le sachet et l'enfiler en vérifiant qu'il n'a pas craqué</p>
            <p> - Choix B : Ouvrir délicatement le sachet, pincer le réservoir et l'enfiler en vérifiant qu'il n'a pas craqué</p>
  
            <form>
                <a href="./?p=Pincer">
                    <input type="button" value="A"> 
                </a>

                <a href="./?p=BienProtege">
                    <input type="button" value="B"> 
                </a>
            </form>
        </div>
