
        <div><p>Pendant que la soirée battait son plein, vous remarquez une jolie fille prêt du bar.</p>
            <p>Vous décidez de discuter avec elle. La discussion devenait de plus en plus intéressante et intense.</p>
            <p>Elle vous demande si vous êtes prêt à aller plus loin... Vous acceptez mais une question se pose,</p>
            <p> Mettez-vous un préservatif ou non ?</p>
            <form>
                <a href="./?p=Proteger">
                    <input type="button" value="A) Vous vous protégez"> 
                </a>

                <a href="./?p=Protection">
                    <input type="button" value="B) Vous ne vous protégez pas"> 
                </a>
            </form>
        </div>
