<form method="get" action="../../Forum.php">
    <fieldset>
        <legend>Mon formulaire :</legend>
        <p>
            <label for="titre">Titre</label> :
            <input type="text" placeholder="Titre" name="titre" id="titre" required/>
        </p>
        <p>
            <label for="description">Description</label> :
            <input type="text" placeholder="Expliquer votre situation" name="description" id="description"/>
        </p>
        <p>
            <input type="submit" value="Envoyer"/>
        </p>
    </fieldset>
</form>