<form method="get" action="ForumRepondre.php">
    <fieldset>
        <legend>Mon formulaire :</legend>
        <p>
            <label for="reponse">Réponse</label> :
            <input type="text" placeholder="Votre réponse" name="reponse" id="reponse" required/>
        </p>
        <p>
            <label for="description">Description</label> :
            <input type="text" placeholder="Expliquer votre situation" name="description" id="description"/>
        </p>
        <p>
            <input type="submit" value="Envoyer"/>
        </p>
    </fieldset>
</form>