<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <header> 
        <nav>
            
        </nav>


        <a href="https://www.umontpellier.fr/"><img id="Logo_Universite" src="Logo_universite1.png" alt="Logo université Montpellier non chargé"></a>
        <a href="https://www.nuitdelinfo.com/"><img id="NDI_logo" src="NDI_logo.jpg" alt="Logo nuit de l'informatique non chargé"></a>

    </header> 


    <body>
        
    </body>
</html>