<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <header> 
        <a href="index.html">Accueil</a>
        <a href="IST.html">IST</a>
        <a href="Contraception.html">Contraceptions</a>
        <a href="Depistage.html">Se Dépister</a>
        <a href="Forum.html">Forum</a>
        <a href="">Sites Utiles</a>
    </header> 

    <body>
        <div><p>Dans cette petite histoire interactive, vous jouerez le rôle de Donatien, un jeune homme de 20 ans.</p>
            <p>Ce soir Donatien a une soirée où il va rejoindre quelques amis à lui.</p>
            <p>Pour commencer les amis de Donatien lui propose un verre de boisson alcolisé:</p>
            <button class="btn_a" type="button">A) Donatien accepte les verres.</button>
            <button class="btn_b" type="button">B) Donatien dit non.</button>
        </div>

        <script src="../Konami.js"></script>
        <script>
            const easterEgg = new Konami("secret.html");
        </script>
    </body>

    <footer>
        <img id="Logo_Universite" src="Logo_universite1.png" alt="Logo université Montpellier non chargé">
        <img id="NDI_logo" src="NDI_logo.jpg" alt="Logo nuit de l'informatique non chargé">
    </footer>
</html>